.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.blog-body{
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.nav-tabs{
  padding: 10px;
}

.jumbotron{
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%
}

.jumbotron-img{
  height: 350px;
  width: 270px;
  float: right;
}

.navbar-inverse{
  background: #600202;
  height: 30%;
  border: none;
}

.logo-img{
  width: 70px;
  border: solid #5D200A;
}

.img-social{
  height: 40px;
  width: 40px;
}


.titulo-text{
  color: white;
}

.img-body{
  float: left;
}
.jumbotron-text{
  color: white;
}


.titulo-contenido{
  font-style: oblique;
  color: red;
  font-size: 50px;
}

.logo-contenido{
  width: 70px;
}

.list-group{
  font-style: italic;
  font-size: 18px;
}

.list-group-item{
  color: red;
}
